.basket {
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 0px;
  box-sizing: border-box;
}

.basket__title {
  font-size: 32px;
  font-weight: bold;
}

.basket-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  gap: 30px;
}

/* ----- BASKET-CONTAINER__LEFT ----- */

.basket-control {
  width: 100%;
  display: flex;
  margin-top: 25px;
  border-bottom: 1px solid #c5c0b7;
  padding-bottom: 10px;
  align-items: center;
}

.basket__label {
  margin-left: 20px;
}

/* ----- BASKET CHEK -----  */
.basket__check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}

.icon-check {
  width: 16px;
  height: 16px;
  margin-left: -20px;
  border-radius: 5px;
  color: #fff;
  background: #fff;
  border: 1px solid rgba(0, 0, 51, 30%);
}

.basket__check-box:checked + .icon-check {
  background: #592607;
  border: 1px solid #592607;
}

/* ----- END BASKET CHEK-----  */

.basket__option__all {
  font-size: 14px;
  color: #333333;
  margin-left: 10px;
  margin-right: 60px;
}

.basket__option-delete {
  font-size: 14px;
  color: #333333;
  border-bottom: 1px solid #333333;
  cursor: pointer;
}

.basket-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket__row {
  width: 100%;
}
.basket__content-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
  border-bottom: 1px solid #c5c0b7;
  margin-top: 20px;
}

.basket__content-left {
  width: 100%;
  display: flex;
}

.basket__figure-box {
  margin-left: 25px;
  margin-right: 35px;
}

.basket__content-subtitle {
  font-size: 14px;
  color: #7a7874;
  margin-bottom: 8px;
}

.basket__content-dish {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.basket__content-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.basket__choice-quantity {
  display: flex;
  justify-content: space-around;
  width: 100px;
  height: 40px;
  border: 1px solid rgba(0, 0, 51, 30%);
  border-radius: 8px;
}

.basket__btn-minus,
.basket__btn-plus {
  border: none;
  background: #fff;
  font-size: 24px;
  cursor: pointer;
}

.basket__quantity-value {
  text-align: center;
  width: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #474747;
}

.basket__price {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

/* ----- FORM ----- */

.form {
  width: 100%;
  padding-top: 20px;
  padding-left: 70px;
}

.form__title {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.form__title::before {
  content: "1";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  background: #fff;
  border: 1px solid #c5c0b7;
  border-radius: 50%;
  margin-right: 20px;
}

.form__body {
  width: 100%;
  background: rgba(227, 224, 218, 50%);
  padding: 30px;
  border-radius: 16px;
}

.form__box-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
  gap: 30px;
}

.form__label {
  font-size: 18px;
}

.form__label span {
  color: red;
}

.form__input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: 1px solid #c5c0b7;
  border-radius: 8px;
  font-size: 18px;
  color: #d7d2c9;
  padding-left: 10px;
}

.form__title-delivery::before {
  content: "2";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  background: #fff;
  border: 1px solid #c5c0b7;
  border-radius: 50%;
  margin-right: 20px;
}

/* ----- FORM-DELIVERY ----- */
.form-control__pickup {
  padding: 30px;
  background: rgba(229, 229, 229, 50%);
  border-radius: 16px;
  margin-bottom: 30px;
}

.form-control__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}

.form__real-radio {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}

.form__gustom-radio {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: text-bottom;
  margin-left: -30px;
}

.form__real-radio:checked + .form__gustom-radio::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  /* выравниваем по центру */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.1s ease-in;
  transform: translate(-50%, -50%) scale(1);
  border: 5px solid #592607;
}

.form-control__text {
  margin: 15px 0 0 30px;
  font-size: 14px;
}

.form-control__delivery {
  padding: 30px;
  background: rgba(229, 229, 229, 50%);
  border-radius: 16px;
  margin-bottom: 30px;
  align-items: center;
}

.form__map {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
}

.icon-map {
  font-size: 16px;
}

.form__map-text {
  font-size: 14px;
  color: #333333;
  margin-left: 18px;
  margin-right: 10px;
  border-bottom: 1px solid #592607;
  cursor: pointer;
}

.form__map-text:hover {
  color: #592607;
}

.form__body-delivery {
  margin-top: 20px;
}

.icon-Union {
  font-size: 5px;
  cursor: pointer;
}

.form-control__item {
  display: grid;
  margin-left: 30px;
  margin-bottom: 15px;
}

.form-control__item:last-child {
  margin-bottom: 0px;
}

.form__label-item {
  font-size: 18px;
  margin-bottom: 7px;
}

.form__label-item span {
  color: red;
}

.form__input-item {
  height: 50px;
  border: 1px solid #c5c0b7;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 18px;
  color: #d7d2c9;
}

.form__input-comment {
  height: 80px;
  padding-bottom: 30px;
}

/* ----- END FORM-DELIVERY ----- */

/* ----- FORM-PAY ----- */
.form__title-pay::before {
  content: "3";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  background: #fff;
  border: 1px solid #c5c0b7;
  border-radius: 50%;
  margin-right: 20px;
}

.form-control__pay-online,
.form-control__pay-cart {
  padding: 30px;
  background: rgba(229, 229, 229, 50%);
  border-radius: 16px;
  margin-bottom: 30px;
}
/* ----- END BASKET-CONTAINER__LEFT ----- */

/* ----- BASKET-CONTAINER__RIGHT ----- */

.basket-container__right {
  margin-top: 25px;
  background: #fff;
  height: 451px;
}

.basket__order {
  width: 400px;
  padding: 30px;
  box-shadow: 0 16px 40px rgba(53, 54, 53, 0.3);
  border-radius: 16px;
}

.basket__order-title {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 15px;
}

.basket__order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.basket__order-item:last-child {
  margin-bottom: 20px;
}

.basket__order-name,
.basket__order-cost,
.basket__order-delivery,
.basket__order-reduction {
  font-size: 18px;
  color: #000000;
}

.basket__order-all {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.basket__order-price {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.basket__order-btn {
  width: 100%;
  height: 50px;
  border: 1px solid #c5c0b7;
  text-align: center;
  background: #fff;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 20px;
}

.basket__order-btn:hover {
  background: #d7d2c9;
  border: none;
}

.basket__order-consent {
  font-size: 14px;
  color: #000033;
  line-height: 24px;
}
/* ----- END BASKET-CONTAINER__RIGHT ----- */

/* ----- BASKET-CONTAINER__BOTTOM  */

.basket-container__bottom {
  display: none;
}
/* ----- END BASKET-CONTAINER__BOTTOM  */

@media (max-width: 1366px) {
  .basket__order {
    width: 350px;
  }
}

@media (max-width: 1024px) {
  /* ----- BASKET -----  */
  .basket-container {
    grid-template-columns: 1fr;
  }

  .basket-container__right {
    display: none;
  }

  .basket__title {
    font-size: 24px;
  }

  .basket__option__all {
    font-size: 12px;
    margin-right: 75px;
  }

  .basket__option-delete {
    font-size: 12px;
  }

  .basket__content-subtitle {
    font-size: 12px;
  }

  .basket__content-dish {
    font-size: 16px;
  }

  /* ----- END BASKET ----- */

  /* ----- FORM ----- */
  .form__label {
    font-size: 16px;
  }

  .form__input {
    font-size: 16px;
  }

  .form-control__label {
    font-size: 16px;
  }

  .form__map-text {
    font-size: 13px;
    margin-left: 13px;
  }

  .form__label-item {
    font-size: 16px;
  }

  .form__input-item {
    font-size: 16px;
  }

  /* ----- END FORM ----- */

  /* ----- BASKET-CONTAINER__BOTTOM ----- */
  .basket-container__bottom {
    display: block;
  }

  .basket__order {
    width: 100%;
    padding: 30px;
    box-shadow: 0 16px 40px rgba(53, 54, 53, 0.3);
    border-radius: 16px;
  }
}

@media (max-width: 768px) {
  /* ----- BASKET ----- */
  .basket__content-item {
    display: grid;
    grid-template-columns: 1fr;
  }

  .basket__content-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-self: self-start;
    align-items: center;
    gap: 50px;
  }

  .basket__choice-quantity {
    margin-left: 180px;
  }

  .basket__price {
    justify-self: flex-end;
  }

  .basket__choice-quantity {
    width: 90px;
  }

  .basket__btn-minus,
  .basket__btn-plus {
    border: none;
    background: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .basket__quantity-value {
    font-size: 16px;
  }

  /* ----- END BASKET ----- */

  /* ----- FORM ----- */
  .form {
    padding-left: 0px;
  }

  .form__title {
    font-size: 20px;
  }

  .form__title::before {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }

  .form__box-top {
    grid-template-columns: 1fr;
  }

  .form-control__item {
    margin-left: 0px;
  }

  /* ---- END FORM ----  */
}

@media (max-width: 576px) {
  .basket__content-right {
    gap: 30px;
  }

  .basket__option__all {
    margin-right: 30px;
  }

  .basket__figure-box {
    margin-left: 15px;
    margin-right: 20px;
  }

  .basket__img {
    width: 80px;
  }

  .basket__choice-quantity {
    margin-left: 137px;
  }

  .basket__content-dish {
    font-size: 14px;
  }

  .basket__choice-quantity {
    width: 80px;
    height: 30px;
  }

  .basket__price {
    font-size: 14px;
  }

  /* ---- FORM ----- */

  .form__body {
    padding: 15px;
  }
  .form-control__pickup {
    padding: 30px 15px;
  }

  .form-control__delivery {
    padding: 30px 15px;
  }

  .form-control__pay-online,
  .form-control__pay-cart {
    padding: 30px 15px;
  }
}

@media (max-width: 414px) {
  .basket__content-dish {
    font-size: 12px;
  }

  .basket__choice-quantity {
    width: 65px;
  }

  .basket__price {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .basket__content-right {
    gap: 20px;
  }
  .basket__choice-quantity {
    margin-left: 135px;
  }

  .basket__price {
    font-size: 12px;
  }

  /* ---- FORM ----- */

  .form__map-text {
    margin-left: 12px;
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .basket__content-right {
    gap: 10px;
  }
  .basket__choice-quantity {
    margin-left: 135px;
  }

  .basket__price {
    font-size: 12px;
  }
}
