
/* ////   LATO    //// */
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Thin.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Black.ttf");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

/* ////    KAUSHAN    //// */
@font-face {
    font-family: "kaushan";
    src: url("../fonts/kaushan/kaushan.ttf");
    font-display: fallback;
}

/* ////    GOOGLE-ICON    //// */
@font-face {
    font-family: "g-icon";
    src: url("../fonts/google-icon.otf");
    font-display: fallback;
}
.material-icons-outlined {
    font-family: "g-icon" !important;
    line-height: 1;
    font-size: 28px;
}