.footer {
  max-width: 1920px;
  margin: 0 auto;
}

.footer__top-block {
  background: rgb(208, 202, 193);
  padding-top: 10px;
}

/* ----- LOGO ----- */
.footer__logo-title {
  text-align: center;
  font-size: 80px;
  font-family: "Kaushan Script", sans-serif;
  color: #592607;
}

.footer__logo-text {
  text-align: center;
  font-size: 36px;
  padding-bottom: 20px;
  color: #131212;
}

/* ----- END LOGO ----- */

.footer__bottom-block {
  background: rgb(225, 222, 215);
  padding-top: 30px;
  padding-bottom: 20px;
}

/* ----- MENU ----- */
.footer__menu-item {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 100px;
}
/* ----- END MENU */

.copyrightText {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

@media (max-width: 1024px) {
  .footer__logo-title {
    font-size: 64px;
  }

  .footer__logo-text {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .copyrightText-block {
    padding-top: 40px;
  }

  .footer__menu-item {
    display: none;
  }

  .copyrightText {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .footer__logo-title {
    font-size: 48px;
  }

  .footer__logo-text {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .copyrightText {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer__logo-title {
    font-size: 36px;
  }

  .footer__logo-text {
    font-size: 14px;
  }

  .copyrightText {
    font-size: 10px;
  }
}
