.lk {
    padding-top: 50px;
    padding-bottom: 50px;
}
.orders__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.orders__block {
    flex-basis: 100%;
    margin-right: 20px;
}
.orders__list {
    padding: 10px;
    border-bottom: 1px solid #C5C0B7;
    display: flex;
    /* justify-content: start; */

    font-size: 16px;
    line-height: 24px;
}
.orders__list.head .orders__date,
.orders__list.head .orders__number,
.orders__list.head .orders__amount {
    color: #999999;
}
.orders__date, .orders__number {
    flex-basis: 250px;
}
.orders__number a {
    text-decoration: underline;
    color: #592607;
}
.orders__amount {
    flex-grow: 1;
    text-align: right;
}
.orders__nav {
    flex-basis: 250px;
}
.orders__li {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
}
.orders__li.active {
    background: #D7D2C9;
}
.orders__li:hover {
    background: #eee;
    cursor: pointer;
}
.orders__li.active:hover {
    background: #D7D2C9;
}
@media (max-width: 1024px) {
    .lk {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .orders__section {
        flex-wrap: wrap;
    }
    .orders__block {
        flex-basis: 100%;
        margin-right: 0;
        order: 1;
    }
    .orders__list {
        font-size: 14px;
    }
    .orders__date, .orders__number {
        flex-basis: 200px;
    }
    .orders__nav {
        flex-basis: 100%;
        order: 0;
        margin-bottom: 10px;
    }
    .orders__ul {
        width: 100%;
        display: flex;
    }
    .orders__li {
        flex-basis: 200px;
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .orders__date, 
    .orders__number, 
    .orders__amount {
        flex-basis: 33.33%;
        padding-left: 10px;
    }
    .orders__li {
        flex-basis: 33.33%;
    }
    .orders__amount {
        text-align: left;
        /* flex-grow: 0; */
    }
    .orders__list,
    .orders__li {
        font-size: 13px;
    }
    .orders__list {
        padding: 10px 0;
    }
}
@media (max-width: 400px) {
    .orders__date, 
    .orders__number, 
    .orders__amount {
        padding-left: 10px;
    }
    .orders__list,
    .orders__li {
        font-size: 12px;
    }
}

/* settings */

.orders__text {
    font-size: 16px;
}
.orders__text_head {
    font-size: 16px;
    color: #999;
}
.orders__setting-block {
    border: 1px solid #C5C0B7;
    border-radius: 16px;
    padding: 30px;
    margin-bottom: 30px;
}
.orders__setting-block:last-of-type {
    margin-bottom: 0;
}
.orders__row {
    display: flex;
    margin-bottom: 20px;
}
.orders__row:last-of-type {
    margin-bottom: 0;
}
.orders__col-50 {
    flex-basis: 50%;
}
.orders-btn {
    width: 200px;
    height: 40px;
    background: #d7d2c9;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}
.orders-btn:hover {
    background: #bcb6ad;
    cursor: pointer;
}
.orders__icon {
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .orders__text {
        font-size: 14px;
    }
    .orders__text_head {
        font-size: 14px;
    }
    .orders__setting-block {
        padding: 20px;
        margin-bottom: 20px;
    }
    .orders-btn {
        font-size: 14px;
    }
    .orders__icon {
        top: 3px;
    }
}
@media (max-width: 576px) {
    .orders__text {
        font-size: 13px;
    }
    .orders__text_head {
        font-size: 13px;
    }
    .orders__setting-block {
        padding: 15px;
        margin-bottom: 15px;
    }
    .orders__row {
        margin-bottom: 15px;
    }
    .orders-btn {
        width: 100%;
        font-size: 13px;
    }
}