
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
button {
  border: 0;
}

.relative {
  position: relative;
}

.h1, .h2, .h3, .h4 {
  font-weight: bold;
  position: relative;
}
.h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
.h2 {
  font-size: 26px;
  margin-bottom: 26px;
}
.h3 {
  font-size: 22px;
  margin-bottom: 22px;
}

.m0 {
  margin: 0;
}
.mb30 {
  margin-bottom: 30px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb20 {
  margin-bottom: 20px;
}
.mr20 {
  margin-right: 20px;
}

.w200px {
  width: 200px;
}
.d-ib {
  display: inline-block;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 30px;
  position: relative;
}
/* -----   FLEX   ----- */
.flex__wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex__jc-sb {
  display: flex;
  justify-content: space-between;
}

.flex__ai-c {
  display: flex;
  align-items: center;
}

.flex__jc-c {
  display: flex;
  justify-content: center;
}
/* -----  END FLEX   ----- */

@media (max-width:1024px) {
  .container {
    padding: 0 20px;
  }
  .mb30 {
    margin-bottom: 20px;
  }
  .mb24 {
    margin-bottom: 16px;
  }
  .mb20 {
    margin-bottom: 12px;
  }
  .h1 {
    font-size: 26px;
    margin-bottom: 26px;
  }
  .h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }
}
@media (max-width:576px) {
  .container {
    padding: 0 15px;
  }
  .mb30 {
    margin-bottom: 15px;
  }
  .mb24 {
    margin-bottom: 12px;
  }
  .mb20 {
    margin-bottom: 10px;
  }
  .h1 {
    font-size: 22px;
    margin-bottom: 22px;
  }
  .h2 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
