.working-hours {
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(71, 71, 71);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.working-hours__title {
  font-size: 40px;
  font-weight: bold;
  color: #e3e0da;
  margin-bottom: 30px;
}

.working-hours__img-box {
  margin-bottom: 20px;
}
.working-hours__img {
  max-width: 80px;
}

.working-hours__line {
  width: 818px;
  background: #c4c4c4;
  height: 1px;
  margin-bottom: 20px;
}

.working-hours__text {
  font-family: "kaushan", sans-serif;
  font-size: 28px;
  color: #e3e0da;
}

@media (max-width: 1024px) {
  .working-hours__title {
    font-size: 36px;
  }

  .working-hours__line {
    width: 436px;
  }

  .working-hours__text {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .working-hours__title {
    font-size: 24px;
  }

  .working-hours__line {
    width: 327px;
  }

  .working-hours__text {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .working-hours__title {
    font-size: 18px;
  }

  .working-hours__img {
    max-width: 50px;
  }

  .working-hours__line {
    width: 245px;
  }

  .working-hours__text {
    font-size: 14px;
  }
}
