.working-hours {
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(71, 71, 71);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 290px;
}

.working-hours__title {
  font-size: 48px;
  font-weight: bold;
  color: #e3e0da;
  margin-bottom: 50px;
}

.working-hours__img-box {
  margin-bottom: 40px;
}

.working-hours__line {
  width: 818px;
  background: #c4c4c4;
  height: 1px;
  margin-bottom: 40px;
}

.working-hours__text {
  font-family: "Kaushan Script", sans-serif;
  font-size: 36px;
  color: #e3e0da;
}

@media (max-width: 1024px) {
  .working-hours__title {
    font-size: 36px;
  }

  .working-hours__img {
    max-width: 116px;
  }

  .working-hours__line {
    width: 436px;
  }

  .working-hours__text {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .working-hours {
    margin-top: 250px;
  }

  .working-hours__title {
    font-size: 24px;
  }

  .working-hours__img {
    max-width: 87px;
  }

  .working-hours__line {
    width: 327px;
  }

  .working-hours__text {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .working-hours {
    margin-top: 170px;
  }
}

@media (max-width: 575px) {
  .working-hours__title {
    font-size: 18px;
  }

  .working-hours__img {
    max-width: 65px;
  }

  .working-hours__line {
    width: 245px;
  }

  .working-hours__text {
    font-size: 14px;
  }
}

@media (max-width: 510px) {
  .working-hours {
    margin-top: 210px;
  }
}

@media (max-width: 450px) {
  .working-hours {
    margin-top: 180px;
  }
}

@media (max-width: 430px) {
  .working-hours {
    margin-top: 190px;
  }
}

@media (max-width: 320px) {
  .working-hours {
    margin-top: 150px;
  }
}
